
.alert-danger {
    background-color: transparent;
    border-color: transparent;
    color: #a94442;
}
.alert {
    padding : 0px;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
  }